@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap');

:root{
    --primary-green: #00B894;
    --navbar-white: #F4F4F4;
    --primary-blue: #4B50C4;
    /* color: var(--primary-blue) */
}
body{
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: Prompt;
    color: #374248;
}
.container{
    display: flex;
    place-content: space-between;
}
section{
    padding: 5em 2em
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
}
h4{
    font-style: normal;
    font-weight: 200;
    margin-bottom: -2em;
    color: gray;
}
h3{
    font-style: medium;
    font-weight: 500;
}

.subhead
{
    font-weight: 400;
    font-size: 1em;
}
.mobile-menu{
    cursor: pointer;
}


/* navbar css */
.navbar{
    background: var(--navbar-white);
    padding: 0em 2em 2em 2em;
    height: 2em;
    background-size: cover;
    font-size: 1.1em;
}
.nav-logo{
    height: 2.5em;
    padding-top: 0.5em;
}
.login-button{
    background: var(--navbar-white);
    border: 5px solid var(--primary-green);
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 2em
}
.button-nav-ul
{
    text-decoration: none;
    padding-right: 2em;
    color: var(--primary-green);
}
.mainsite-nav{
    list-style-type: none;
    display: inline-flex;
}
.user-nav{
    list-style-type: none;
    display: inline-flex;
}
.nav-ul{
    text-decoration: none;
    padding-right: 2em;
    color: #00361E
}
/* navbar css */




/* hero section */
.hero{
    min-height: 100vh;
    background : linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(../images/index_image.png);
    background-position: center;
    background-size: cover;
    position: relative;
    /* text-align: center; */
}
.left-col{
    background: var(--navbar-white);
    border-radius: 2em;
    max-width: 35vw;
    padding: 2em;
    margin: 13em 3em 0em 3em;
}
/*  */

/* section 2 */

.ex_image{
    /* width: 15%; */
    max-width:15vw
}
.left-align{
    text-align: left;
}
.right-example-image{
    padding-right: 13em;
    padding: 2em;
    margin: 4em 3em 0em 3em;
    text-align: center;
}
.example-image-text{
    background: var(--primary-blue);
    color: white;
    padding: 1em;
    margin-top: 0em;
}
.button-download{
    background: var(--primary-green);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0.5em 2em 0.5em 2em;
    text-decoration: none;
    color: white;
    text-align: right;
}
.left-col2{
    text-align: center;
    max-width: 35vw;
    padding: 2em;
    margin: 4em 3em 0em 3em;
}
/*  */