@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

:root{
    --primary-green: #00B894;
    --navbar-white: #F4F4F4;
    --primary-blue: #4B50C4;
    /* color: var(--primary-blue) */
}
body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: Prompt;
    color: #374248;
}
.container{
    display: flex;
    place-content: space-between;
}
section{
    padding: 2em 2em;
}
h1{
    /* font-style: bold; */
    font-weight: 700;
    font-size: 2.5em;
}
h2{
    /* font-style: normal; */
    font-weight: 600;
    font-size: 2em;
}
h3{
    font-style: medium;
    font-weight: 400;
    font-size: 1.5em
}
h4{
    /* font-style: normal; */
    font-weight: 200;
    margin-bottom: -1em;
    color: gray;
}
h5{
    /* font-style: normal; */
    font-weight: 200;
    margin-bottom: -2em;
    color: gray;
}
.mobile-menu{
    cursor: pointer;
}


/* navbar css */
.navbar{
    background: var(--navbar-white);
    padding: 0em 2em 2em 2em;
    height: 2em;
    background-size: cover;
    font-size: 1.1em;
}
.nav-logo{
    height: 2.5em;
    padding-top: 0.5em;
}
.login-button{
    background: var(--navbar-white);
    border: 5px solid var(--primary-green);
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 2em
}
.button-nav-ul
{
    text-decoration: none;
    padding-right: 2em;
    color: var(--primary-green);
}
.mainsite-nav{
    list-style-type: none;
    display: inline-flex;
}
.user-nav{
    list-style-type: none;
    display: inline-flex;
}
.nav-ul{
    text-decoration: none;
    padding-right: 2em;
    color: #00361E
}
/* navbar css */


/* hero section */
.hero{
    min-height: 100vh;
    background : linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(../images/index-image.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
    /* text-align: center; */
}
.left-col{
    background: var(--navbar-white);
    border-radius: 2em;
    max-width: 35vw;
    padding: 2em;
    margin: 13em 3em 0em 3em;
}
.subhead
{
    font-weight: 400;
    font-size: 1em;
}
/*  */

/* section 2 */
.dataset{
    background :url(../images/blob1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 7em 2em;
}
.ex-image{
    max-width:15vw;
}
.left-align{
    text-align: left;
}
.right-example-image{
    /* padding: 2em; */
    margin: 4em 3em 0em 3em;
    text-align: center;
}
.example-image-text{
    background: var(--primary-blue);
    color: white;
    padding: 1em;
    margin-top: 0em;
    font-style: medium;
    font-weight: 400;
    font-size: 1.2em;
}
.button-download{
    /* background: var(--primary-green); */
    background: #FF6961;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0.5em 2em 0.5em 2em;
    text-decoration: none;
    color: white;
    text-align: right;
}
.left-col2{
    text-align: center;
    max-width: 35vw;
    padding: 2em;
    margin: 4em 3em 0em 3em;
}
.context
{
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 2em;
}
/*  */

/* section 3 */
.about-us{
    background :url(../images/blob2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.right-col{
    text-align: right;
    display: inline;
    padding-right: 3em;
}
figure {
    padding: 1em;
    margin: auto;
    text-align: center;
}  
.team-image{
    max-width:9vw;
    margin: 1em;
}
figcaption {
    background-color: var(--primary-blue);
    color: white;
    padding: 0.5em 1em;
    text-align: center;
}
.team-ul{
    list-style-type: none;
    display: inline-flex;
}
.logo-ul{
    position: absolute;
    list-style-type: none;
    display: inline-flex;
    bottom: 0;
}
.left-col3{
    position: relative
}
.logo-contact-image{
    max-height:10vh;
    padding: 0.5em;
}
/*  */

/* footer */
.footer {
    background-size: cover;
    background-color: var(--primary-green);
    color: white;
    text-align: left;
}
.head-footer{
    padding-left: 3em;
}
.contact-ul{
    list-style-type: none;
    padding-right: 5em
}
/*  */


/* login */
.login-container{
    text-align: center;
    width: 50%;
}
.login-header{
    font-weight: 600;
    font-size: 2em;
}
.login-ul{
    list-style-type: none;
}
/*  */