<!DOCTYPE html>
<html lang="th">
{% load static %}
{% load custom_tags %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads | Cassava</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
</head>

<body>
    {% include 'navbar/navbar-other.html' %}

    <section class="download">
        <h1>ดาวน์โหลด</h1>
        <div class="download-sub-header">
            <img src="{% static 'images/dowload-icon-zip.svg' %}" class="download-sub-header-image">
            <h3>ดาวน์โหลดแบบ zip</h2>
        </div>

        <!-- <div class="content-zip">
            <div class="image-zip">
                <img id="example" class="ex-image" src="{% static 'images/ex2.JPG' %}" alt="ex2">
            </div>
            <div class="download-zip">
                <h3> drone-01 </h3>
                <ul class="content-zip-ul">
                    <li class="content-zip-li">
                        <a
                            href="https://novy-static.sgp1.digitaloceanspaces.com/dataset/dataset/data-01/train/Drone-01.rar">Train
                            images</a>
                    </li>
                    <li class="content-zip-li">
                        <a
                            href="https://novy-static.sgp1.digitaloceanspaces.com/dataset/dataset/data-01/train/Drone-01.rar">Sample
                            images</a>
                    </li>
                    <li class="content-zip-li">
                        <a
                            href="https://novy-static.sgp1.digitaloceanspaces.com/dataset/dataset/data-01/train_label/train.json">Annotations</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-zip">
            <div class="image-zip">
                <img id="example" class="ex-image" src="{% static 'images/ex3.JPG' %}" alt="ex2">
            </div>
            <div class="download-zip">
                <h3> drone-02 </h3>
                <ul class="content-zip-ul">
                    <li class="content-zip-li">
                        <a
                            href="https://novy-static.sgp1.digitaloceanspaces.com/dataset/dataset/data-01/train/Drone-01.rar">Train
                            images</a>
                    </li>
                    <li class="content-zip-li">
                        <a href="#">Sample
                            images</a>
                    </li>
                    <li class="content-zip-li">
                        <a href="#">annotations</a>
                    </li>
                </ul>
            </div>
        </div> -->
        {% for dataset in dataset_list%}
        <div class="content-zip">
            <div class="image-zip">
                <img id="example" class="ex-image" src={{dataset.header_image}} alt="ex2">
            </div>
            <div class="download-zip">
                <h3> {{dataset.name}} </h3>
                <ul class="content-zip-ul">
                    <li class="content-zip-li">
                        <a
                            href={{dataset.train_images}}>Train
                            images</a>
                    </li>
                    <li class="content-zip-li">
                        <a href="{{dataset.annotations}}">annotations</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}

        <div class="download-sub-header">
            <img src="{% static 'images/dowload-icon-api.svg' %}" class="download-sub-header-image">
            <h3> ดาวน์โหลดผ่าน API</h2>
        </div>
        <div class="code-download">
            <p>ฐานข้อมูลรูปมันสัมปะหลังประกอบไปด้วยรูปภาพ และ Annotatoin สามารถดาวน์โหลดได้ผ่าน web API โดยใช้
                annotation ในรูปแบบของ COCO
            <p>URL สำหรับเรียกดูชื่อ dataset ทั้งหมดในระบบ</p>
            <ul class="code-content">
                <li>{{path1}}</li>
            </ul>
            <p>สร้าง URL สำหรับเรียกใช้งาน</p>
            <ul class="code-content">
                <li>{{path2}}</li>
            </ul>

            <form action="/dataset/download" method="post">
                <div class="api-form">
                    {% csrf_token %}
                        <ul class="mainsite-nav2">
                            <li class="nav-ul">
                                <select name="name_dropdown" class=api-drop>
                                    {% for dataset in dataset_list%}
                                        <option value={{dataset.name}} id={{dataset.name}}>{{dataset.name}}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li class="nav-ul">
                                <select name="select_type" class=api-drop>
                                    <option value="data/all" id="all">รูปภาพทั้งหมด (data/all)</option>
                                    <option value="info" id="info">รายละเอียดรูปภาพ (info)</option>
                                    <option value="data" id="data">รูปภาพ (data)</option>
                                    <option value="datac" id="data_compress">รูปภาพขนาดย่อ (data_compress)</option>
                                    <option value="label" id="label">label</option>
                                </select>
                            </li>
                            <li class="nav-ul">
                                <input type="text" class="api-input" name="filename"
                                    placeholder="ชื่อไฟล์ เช่น DJI_001.JPG">
                            </li>
                        </ul>
                    <input type="submit" class="button-submit" value="สร้าง URL">
                </div>
            </form>
        </div>
    </section>
</body>

</html>